@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*
{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
nav {
  background-color: #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 1em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}
.userSectionTitle
{
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

#abt-me .pfp
{
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#abt-me 
{
  margin-bottom: 4rem;
}

#abt-me .col-lg-6:last-child h2
{
 
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
 
}
#abt-me .col-lg-6:last-child p
{
  
  font-weight: 500;
  font-size: 22px;
  text-align: justify;
  word-break: break-all;
}
#abt-me .col-lg-6:last-child p span
{
  margin-top: 20px;
  font-weight: bold;
}

.table-responsive {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  .table-responsive table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
  }

  .table-responsive table thead {
    display: none;
  }

  .table-responsive table tbody td {
    display: block;
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #ddd;
  }

  .table-responsive table tbody td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table-responsive table tbody td:last-child {
    border-bottom: 0;
  }
}
